body {
	background-image: url(../images/Background.png);
}
.container{
	background-color: #fff;
	height:400px;
	width: 650px
}
.about{
	
}
.connect{
	height:15%;
	width: 20%;
	background-color: #fff;
}.connect img {
	display: inline;
}